
    <h3 style="color:Red;"><%= flash[:message] %></h3>
    <h3 style="color:Red;"><%= @errors %></h3>

    <div class="welcome">
        <div class="welcome__window">
            <div class="welcome__buttons">
    <h1>InstaStyle</h1>

        <h3>Join our team of world renowned stylists today!</h3><br>
        </div>
   </div>
</div>
