<h2>Welcome to InstaStyle, <%= @stylist.username %>!</h2>
<div class = "box">
    <span><%= link_to "Create New Appointment", new_stylist_appointment_path(@stylist) %></span>
    <span><%= link_to "View My Appointments", stylist_appointments_path(@stylist) %></span>
</div>
