<h2>Welcome to InstaStyle Salon and Spa,  <%= @stylist.username %>!</h2>

<li><%= link_to "Create New Appointment", new_stylist_appointment_path(@stylist) %></li>
<li><%= link_to "View My Appointments", stylist_appointments_path(@stylist) %></li>

