<h1>Your Appointment</h1>
<p>When:<%= @appointment.appointment_datetime.strftime("%B %e, %Y at %l:%M %p") %></p>
<p>Service:<%= @appointment.service %></p>
<p> Client:<%= @appointment.client.name %></p>


